@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 40px;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.main-container {
  flex-grow: 1;
}

.main-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  display: flex;
}

.main-nav-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-nav-link.button {
  align-self: center;
  padding: 8px 34px;
}

.nav-menu {
  max-width: 600px;
  flex-wrap: wrap;
}

.user-menu {
  max-width: 300px;
}

.favorites-count {
  font-size: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button {
  padding: 8px 26px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  background-color: #82A0D3;
  background-image:
    url("../images/hero_devider.svg"),
    url("../images/hero_background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position:
    left bottom,
    left top;
}

.advantages {
  text-align: center;
}

.advantages-intro-container {
  width: 660px;
  margin: 0 auto;
  padding: 69px 0 59px 0;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-main-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-subtitle {
  max-width: 175px;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
  color: #000000;
}

.advantages-item-accent .advantages-subtitle {
  color: #FFFFFF;
}

.advantages-description {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.24);
}

.advantages-item.advantages-item-accent {
  flex-direction: row;
  align-items: stretch;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 0;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
}

.advantages-item-column-reverse {
  order: 1;
}

.advantages-item-accent .advantages-title{
  color: #FFFFFF;
}

.services {
  text-align: center;
}

.services-intro-container {
  width: 510px;
  margin: 0 auto;
  padding: 64px 0 54px;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.services-main-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-subtitle {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
}

.search {
  width: 600px;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding: 96px 258px 104px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/subscribe_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.newsletter-intro-container {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.newsletter-form input[type="email"] {
  font-family: "PT Sans", sans-serif;
}
.newsletter-form input[type="email"]::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  width: 47px;
  height: 50px;
}

.footer-social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-phone {
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
  height: 33px;
}

.catalog-header {
  padding: 70px;
  padding-top: 35px;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.price-inputs input[type="number"] {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-label-from,
.price-label-to {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-button {
  background-color: #82B3D3;
}

.catalog-filter-reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-result {
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-sorting-panel {
  display: flex;
  align-items: center;
}

.catalog-sort {
  box-sizing: border-box;
  width: 292px;
  height: 49px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: inherit;
  background-color: #FFFFFF;
}

.catalog-view {
  display: flex;
  column-gap: 8px;
  margin-left: auto;
}

.view-button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}

.hotel-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 40px 0;
  list-style: none;
}

.hotel-link {
  color: #000000;
  text-decoration: none;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-favorite {
  background-color: #82B3D3;
}

.hotel-favorite-added {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
}

.pagination-link {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current .pagination-link {
  color: #000000;
  background-color: #F2F2F2;
}

.catalog-newsletter {
  color: #333333;
  background-color: transparent;
  background-image: none;
}

.catalog-newsletter h2 {
  color: #000000;
}
